*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background-color: rgb(162, 209, 209);   
}
.calculator{
        background-color: D4D4D2;
        width: 400px;
        height : 650px;
        margin: 10 auto;
        padding-top: 30px;
        padding-left: 30px;
        border-radius: 30px;
        border-style: solid;
        border-color:black;
        border-width: 3px;
    
}
input{
    height : 70px;
    width : 70px;
    margin-bottom : 10px;
    margin-right:15px;
    border-radius: 100px;
    font-size: 30px;
    font-family: serif;
    background-color: ff9500;
    box-shadow: 2px 2px black;
    border-style: solid;
    border-color:black;
    border-width: 2px;

    
}
.answer{
    height: 120px;
    width: 340px;
    margin-top: 20px;
    background-color: white;
    font-size: 50px;
    overflow: auto;
    border-style: solid;
    border-color:black;
    border-width: 3px;
    
}
.zero{
    width : 158px;
}

